
# 使用 Spring 的多环境配置
spring:
  profiles:
    #这里配置 ljkaaaa 将使用你的配置
    active: ljkaaaa
my:
  # JWT 的密钥
  secret: Mashiro
  # 管理员邮箱
  admin-email: 1293978818@qq.com
  # 白名单
  whitelist:
    - /mail/login
    - /mail/register
    - /user/register
    - /user/refresh
    - /mail/forget
    - /user/forget
    - /user/login/username
    - /user/login/mail
    - /user/info/*




    #      开发
    - /blog/*
  minio:
    credentials:
      account: minioadmin
      password: minioadmin
      endpoint: http://10.194.16.156:9000






---

spring:
  config:
    activate:
      on-profile: ygh
  datasource:

    # 配置 MYSQL 数据库的 URL 账号密码
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sosd_project?useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 222316
  mail:

    # 配置邮件发送者的账号、密码等信息
    host: smtp.qq.com
    username: 1293978818@qq.com
    password: nttkmkrnjwljfhfd
    port: 465
    default-encoding: UTF-8
    protocol: smtps
    properties:
      "[mail.smtp.connectiontimeout]": 5000
      "[mail.smtp.timeout]": 3000
      "[mail.smtp.writetimeout]": 5000
      "[mail.smtp.auth]": true
      "[mail.smtp.starttls.enable]": true
      "[mail.smtp.starttls.required]": true

  elasticsearch:
    uris: 192.168.37.137:9200

  data:
    redis:
      # redis 的配置信息，包括地址、端口、密码等
      host: 192.168.37.137
      port: 6379
      password: 222316
      database: 0
logging:
  level:
    '[com.sosd.filters]': INFO
    '[org.springframework.security]': DEBUG

---

spring:
  config:
    activate:
      on-profile: ljkaaaa
  datasource:
    #        druid:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sosd-test?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 123A456s789d
  mail:

    # 配置邮件发送者的账号、密码等信息
    host: smtp.qq.com
    username: 1293978818@qq.com
    password: nttkmkrnjwljfhfd
    port: 465
    default-encoding: UTF-8
    protocol: smtps
    properties:
      "[mail.smtp.connectiontimeout]": 5000
      "[mail.smtp.timeout]": 3000
      "[mail.smtp.writetimeout]": 5000
      "[mail.smtp.auth]": true
      "[mail.smtp.starttls.enable]": true
      "[mail.smtp.starttls.required]": true
  elasticsearch:
    uris: 127.0.0.1:9201


  data:
    redis:
      # redis 的配置信息，包括地址、端口、密码等
      host: localhost
      port: 6379
      database: 0
logging:
  level:
    '[com.sosd.filters]': INFO
---

